@import "grid";
@import "normalize";
@import "reset";
@import url("https://fonts.googleapis.com/css?family=Poppins");

/*general style start*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	a {
		text-decoration: none;
		color: black;
	}
}
/*general styles end*/

/*header & footer styles start*/
header {
	padding: 50px 0px 0px 20px;
	h1 {
		font-size: 36px;
	}
	h2 {
		padding: 20px 0px 0px 0px;
		color: grey;
	}
}

nav,
footer {
	padding: 50px 0px 50px 20px;
	ul {
		li {
			a {
				font-size: 18px;
				line-height: 32px;
				&:hover {
					background-color: yellow;
				}
			}
		}
	}
}
/*header & footer styles end*/

/*main section styles start*/
main {
	div {
		position: relative;
		transition: 0.5s ease;
		&:hover {
			img {
				opacity: 0.5;
			}
			.overlay {
				opacity: 1;
			}
		}

		img {
			padding: 20px;
			width: 100%;
		}
		.overlay {
			position: absolute;
			opacity: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			h3 {
				background-color: #efefef;
				padding: 20px;
			}
		}
	}
}
/*main section styles end*/