@import "reset";
@import "grid";

$color-primary: #222222;
$color-secondary: #BDBDBD;
$color-tertiary: #EFEFEF;

body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: $color-primary;
}

.sideNav {
	background-color: $color-tertiary;
	height: 100%;
	right: -250px;
	top: 0;
	transition: 0.5s;
	position: fixed;
	width: 250px;
	z-index: 1;
	ul {
		list-style: none;
		margin-top: 65px;
		a {
			color: $color-primary;
			display: block;
			font-size: 18px;
			margin: 30px;
			&:hover {
				color: $color-secondary;
			}
		}
	}
	i.closeNav {
		cursor: pointer;
		left: 30px;
		position: absolute;
		top: 20px;
	}
}

i.openNav {
	margin: 20px 40px;
	cursor: pointer;
}

.logo {
	line-height: 65px;
	font-size: 36px;
	font-weight: 700;
}

.mainNav {
	text-align: right;
}

main {
    transition: margin-right 0.5s;
    margin-left: 40px;
    h1 {
    	font-size: 28px;
    	font-weight: 700;
    	margin: 40px 40px 20px 0px;
    }
    p {
    	font-size: 14px;
    	line-height: 18px;
    	margin-right: 40px;
    }
}

@media screen and (max-width: 768px) {
	.logo {
		float: left;
	}
	i.openNav {
		/*margin-right: 0px;*/
		float: right;
	}
}